@-webkit-keyframes bg-slide {
  from {
    transform: translateY(0);
  } to {
    transform: translateY(-100%);
  }
}

body {
  padding:0px;
  margin:0px;
  background-color: lightgrey;
  font-family: sans-serif;
  background-image: url("images/backgroundtile.jpg");
  background-attachment: fixed;
  /* position: relative; */
  background-size: cover;
  /* overflow: hidden; */
  /* overflow-y: hidden; */
}

.background,
.background2 {
  width: 100%;
  height: 200%;
  z-index: -1;
  background: url("images/backgroundtile.jpg") repeat-y;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  /* animation: bg-slide 10s linear infinite; */
}

.background2 {
  animation-delay: 5s;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, -2304px, 0);
    /* The image width */
  }
}

.slide-cont {
  /* height: 3000px; */
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;

}

.sliding-background {
  /*         float: left; */

  mix-blend-mode: exclusion;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: url("images/backgroundtile.jpg") repeat-y;
  background-repeat: repeat;
  background-size: auto;
  height: 5608px;
  width: 100%;
  animation: slide 60s linear infinite;
  overflow: hidden;
}

.content {
  background-color: #ffffffe0;
  /* background-color: #ffffff00; */
  /*         mix-blend-mode: luminosity; */
  /*         height: 600px; */
  /* padding: 20px; */
  /* 				        max-width: 800px; */
  margin: auto;
  /*         margin-top: 50px; */
  position: relative;
  z-index: 10;

}

.biopic {
  /*         position: absolute; */

  top: 0px;
  right: 10px;
  width: 200px;
  margin: auto;

}

.fade {
  --mask: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 0) 100% 50% / 100% 100% repeat-x;
  /* border: 1px #d8d8d8 dashed; */
  /* font: 2em/1.6em Arial; */
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

p {
  font-weight: light;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
}

.gallery {
  margin: auto;
  text-align: center;
  max-width: 600px;
}

.gallery .desc {
  margin: 20px;
  text-align: left;
  margin-bottom: 100px;

}

img {
  /* width:50%; */
  width: 100%;

  display: block;
}

.watermark {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-size: 12px;
  background-color: #ffffff22;
  display: block;
  width: 240px;
  /* font-size: clamp(1rem, 1vw, 3rem); */

  border-radius: 20px;
  padding: 10px;
}

.header {
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: 100;
  transform: scale(1, 1.3);
}

.nav{
  margin-bottom: 20px;
}
.nav, .nav a, .nav a:visited{
  color: black;
  font-size: 20px; 
}
.nav div{
  /* background-color:lightgrey; */
  border-radius:10px;
  padding:5px;
  display: inline-block;
  width:100px;
  margin-left: 5px;
  margin-right: 5px;
}

.painting{
  /* background-color:white; */
  /* padding:100px; */
  overflow-x:hidden;
}
.painting-text{
  /* margin-top:20px; */
  text-align:center;
  position:relative;
  top:10px;
  color:white;
  mix-blend-mode: difference;
  font-size: 9vw;
  /* font-size: clamp(2rem, 9vw, 9rem); */
  font-weight:100;
  transform: scale(1, 1.3);
  position:sticky;
  cursor:default;

}

.page-header{
  padding-top:20px;
  padding-bottom:20px;
  position:inline-block;
  width:600px;
  margin:auto;
  /* background-color: red; */
}
.page-header-text
{
  font-size: 50px;
  font-weight:100;
  transform: scale(1, 1.3);
}
.page-header a, .page-header a:visited{
  text-decoration: none;
  color:black;
}

.sticky{
  /* position: sticky; */
}

.painting img{
  z-index:-10;
  position: relative;
  top: 0;
  left: 50%;                /* Start positioning from the center */
  transform: translateX(-50%); 
  height: 100vh;            /* Full height of the viewport */
  min-width: 1000px;        /* Set the minimum width to prevent scaling down */
  object-fit: cover;        /* Cover the container */
}

.bio, .contact, .prints{
  margin:auto;
  max-width:800px;
  padding:20px;
  font-size:20px;
}

.center{
  text-align: center;
}

.gallery-item
{
  margin-bottom:100px;
}

@media (max-width: 600px) {
  .page-header{
    width:100%
  }
  .page-header-text{
    font-size:40px;
  }
}
